In [1]:
import pandas as pd
import os

departamentos = ['ALTA VERAPAZ','BAJA VERAPAZ','CHIMALTENANGO','CHIQUIMULA','CIUDAD CAPITAL','EL PROGRESO','ESCUINTLA', 'HUEHUETENANGO', 'IZABAL','JALAPA','JUTIAPA','PETEN','QUETZALTENANGO','QUICHE','RETALHULEU','SACATEPEQUEZ','SAN MARCOS','SANTA ROSA','SOLOLA','SUCHITEPEQUEZ','TOTONICAPAN','ZACAPA']
# Define the function to clean the data
def clean_data(df):
    # Drop NA column
    df = df.drop(columns=['NA'])
    # Filter rows where NIVEL == 'DIVERSIFICADO'
    df = df[df['NIVEL'] == 'DIVERSIFICADO']
    # Ifnormacion de datatypes y Missing Values
    print(df.info())

    # Numero de rows, columns
    num_rows,num_cols = df.shape
    print(f'Numero de filas: {num_rows}')
    print(f'Numero de columnas: {num_cols}')
    


    missing_values = df.isnull().sum()
    print(f'VALORES NULOS:\n {missing_values}')

    
    return df

In [2]:
# Initialize an empty dataframe to store the cleaned data
df_cleaned = pd.DataFrame()

# Path to the directory containing the data
data_dir = './data'

# Iterate over the departments
for department in departamentos:
    # Define the path to the csv file
    csv_path = os.path.join(data_dir, f'{department}.csv')
    
    # Load the data
    df = pd.read_csv(csv_path)
    
    # Clean the data
    print(f'--------------Cleaning data from {department}---------------')
    df = clean_data(df)
    
    # Append the cleaned data to df_cleaned
    df_cleaned = pd.concat([df_cleaned, df])

# Save the cleaned data to a csv file
df_cleaned.to_csv('./data/DIVERSIFICADOS.csv', index=False)

'/mnt/data/DIVERSIFICADOS.csv'

--------------Cleaning data from ALTA VERAPAZ---------------
<class 'pandas.core.frame.DataFrame'>
Index: 348 entries, 125 to 6486
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CODIGO           348 non-null    object
 1   DISTRITO         346 non-null    object
 2   DEPARTAMENTO     348 non-null    object
 3   MUNICIPIO        348 non-null    object
 4   ESTABLECIMIENTO  348 non-null    object
 5   DIRECCION        346 non-null    object
 6   TELEFONO         328 non-null    object
 7   SUPERVISOR       346 non-null    object
 8   DIRECTOR         300 non-null    object
 9   NIVEL            348 non-null    object
 10  SECTOR           348 non-null    object
 11  AREA             348 non-null    object
 12  STATUS           348 non-null    object
 13  MODALIDAD        348 non-null    object
 14  JORNADA          348 non-null    object
 15  PLAN             348 non-null    object
 16  DEPARTAMENTAL    348 non-null    object
dtypes: object(17)
memory usage: 48.9+ KB
None
Numero de filas: 348
Numero de columnas: 17
VALORES NULOS:
 CODIGO              0
DISTRITO            2
DEPARTAMENTO        0
MUNICIPIO           0
ESTABLECIMIENTO     0
DIRECCION           2
TELEFONO           20
SUPERVISOR          2
DIRECTOR           48
NIVEL               0
SECTOR              0
AREA                0
STATUS              0
MODALIDAD           0
JORNADA             0
PLAN                0
DEPARTAMENTAL       0
dtype: int64
--------------Cleaning data from BAJA VERAPAZ---------------
<class 'pandas.core.frame.DataFrame'>
Index: 120 entries, 50 to 1607
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CODIGO           120 non-null    object
 1   DISTRITO         119 non-null    object
 2   DEPARTAMENTO     120 non-null    object
 3   MUNICIPIO        120 non-null    object
 4   ESTABLECIMIENTO  120 non-null    object
 5   DIRECCION        120 non-null    object
 6   TELEFONO         114 non-null    object
 7   SUPERVISOR       119 non-null    object
 8   DIRECTOR         110 non-null    object
 9   NIVEL            120 non-null    object
 10  SECTOR           120 non-null    object
 11  AREA             120 non-null    object
 12  STATUS           120 non-null    object
 13  MODALIDAD        120 non-null    object
 14  JORNADA          120 non-null    object
 15  PLAN             120 non-null    object
 16  DEPARTAMENTAL    120 non-null    object
dtypes: object(17)
memory usage: 16.9+ KB
None
Numero de filas: 120
Numero de columnas: 17
VALORES NULOS:
 CODIGO              0
DISTRITO            1
DEPARTAMENTO        0
MUNICIPIO           0
ESTABLECIMIENTO     0
DIRECCION           0
TELEFONO            6
SUPERVISOR          1
DIRECTOR           10
NIVEL               0
SECTOR              0
AREA                0
STATUS              0
MODALIDAD           0
JORNADA             0
PLAN                0
DEPARTAMENTAL       0
dtype: int64
--------------Cleaning data from CHIMALTENANGO---------------
<class 'pandas.core.frame.DataFrame'>
Index: 349 entries, 43 to 2409
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CODIGO           349 non-null    object
 1   DISTRITO         347 non-null    object
 2   DEPARTAMENTO     349 non-null    object
 3   MUNICIPIO        349 non-null    object
 4   ESTABLECIMIENTO  349 non-null    object
 5   DIRECCION        349 non-null    object
 6   TELEFONO         335 non-null    object
 7   SUPERVISOR       347 non-null    object
 8   DIRECTOR         317 non-null    object
 9   NIVEL            349 non-null    object
 10  SECTOR           349 non-null    object
 11  AREA             349 non-null    object
 12  STATUS           349 non-null    object
 13  MODALIDAD        349 non-null    object
 14  JORNADA          349 non-null    object
 15  PLAN             349 non-null    object
 16  DEPARTAMENTAL    349 non-null    object
dtypes: object(17)
memory usage: 49.1+ KB
None
Numero de filas: 349
Numero de columnas: 17
VALORES NULOS:
 CODIGO              0
DISTRITO            2
DEPARTAMENTO        0
MUNICIPIO           0
ESTABLECIMIENTO     0
DIRECCION           0
TELEFONO           14
SUPERVISOR          2
DIRECTOR           32
NIVEL               0
SECTOR              0
AREA                0
STATUS              0
MODALIDAD           0
JORNADA             0
PLAN                0
DEPARTAMENTAL       0
dtype: int64
--------------Cleaning data from CHIQUIMULA---------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CODIGO           172 non-null    object
 1   DISTRITO         171 non-null    object
 2   DEPARTAMENTO     172 non-null    object
 3   MUNICIPIO        172 non-null    object
 4   ESTABLECIMIENTO  172 non-null    object
 5   DIRECCION        170 non-null    object
 6   TELEFONO         153 non-null    object
 7   SUPERVISOR       171 non-null    object
 8   DIRECTOR         142 non-null    object
 9   NIVEL            172 non-null    object
 10  SECTOR           172 non-null    object
 11  AREA             172 non-null    object
 12  STATUS           172 non-null    object
 13  MODALIDAD        172 non-null    object
 14  JORNADA          172 non-null    object
 15  PLAN             172 non-null    object
 16  DEPARTAMENTAL    172 non-null    object
dtypes: object(17)
memory usage: 23.0+ KB
None
Numero de filas: 172
Numero de columnas: 17
VALORES NULOS:
 CODIGO              0
DISTRITO            1
DEPARTAMENTO        0
MUNICIPIO           0
ESTABLECIMIENTO     0
DIRECCION           2
TELEFONO           19
SUPERVISOR          1
DIRECTOR           30
NIVEL               0
SECTOR              0
AREA                0
STATUS              0
MODALIDAD           0
JORNADA             0
PLAN                0
DEPARTAMENTAL       0
dtype: int64
--------------Cleaning data from CIUDAD CAPITAL---------------
<class 'pandas.core.frame.DataFrame'>
Index: 1538 entries, 115 to 5440
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CODIGO           1538 non-null   object
 1   DISTRITO         1471 non-null   object
 2   DEPARTAMENTO     1538 non-null   object
 3   MUNICIPIO        1538 non-null   object
 4   ESTABLECIMIENTO  1538 non-null   object
 5   DIRECCION        1533 non-null   object
 6   TELEFONO         1436 non-null   object
 7   SUPERVISOR       1471 non-null   object
 8   DIRECTOR         1110 non-null   object
 9   NIVEL            1538 non-null   object
 10  SECTOR           1538 non-null   object
 11  AREA             1538 non-null   object
 12  STATUS           1538 non-null   object
 13  MODALIDAD        1538 non-null   object
 14  JORNADA          1538 non-null   object
 15  PLAN             1538 non-null   object
 16  DEPARTAMENTAL    1538 non-null   object
dtypes: object(17)
memory usage: 216.3+ KB
None
Numero de filas: 1538
Numero de columnas: 17
VALORES NULOS:
 CODIGO               0
DISTRITO            67
DEPARTAMENTO         0
MUNICIPIO            0
ESTABLECIMIENTO      0
DIRECCION            5
TELEFONO           102
SUPERVISOR          67
DIRECTOR           428
NIVEL                0
SECTOR               0
AREA                 0
STATUS               0
MODALIDAD            0
JORNADA              0
PLAN                 0
DEPARTAMENTAL        0
dtype: int64
--------------Cleaning data from EL PROGRESO---------------
<class 'pandas.core.frame.DataFrame'>
Index: 122 entries, 27 to 882
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CODIGO           122 non-null    object
 1   DISTRITO         119 non-null    object
 2   DEPARTAMENTO     122 non-null    object
 3   MUNICIPIO        122 non-null    object
 4   ESTABLECIMIENTO  122 non-null    object
 5   DIRECCION        122 non-null    object
 6   TELEFONO         109 non-null    object
 7   SUPERVISOR       119 non-null    object
 8   DIRECTOR         100 non-null    object
 9   NIVEL            122 non-null    object
 10  SECTOR           122 non-null    object
 11  AREA             122 non-null    object
 12  STATUS           122 non-null    object
 13  MODALIDAD        122 non-null    object
 14  JORNADA          122 non-null    object
 15  PLAN             122 non-null    object
 16  DEPARTAMENTAL    122 non-null    object
dtypes: object(17)
memory usage: 17.2+ KB
None
Numero de filas: 122
Numero de columnas: 17
VALORES NULOS:
 CODIGO              0
DISTRITO            3
DEPARTAMENTO        0
MUNICIPIO           0
ESTABLECIMIENTO     0
DIRECCION           0
TELEFONO           13
SUPERVISOR          3
DIRECTOR           22
NIVEL               0
SECTOR              0
AREA                0
STATUS              0
MODALIDAD           0
JORNADA             0
PLAN                0
DEPARTAMENTAL       0
dtype: int64
--------------Cleaning data from ESCUINTLA---------------
<class 'pandas.core.frame.DataFrame'>
Index: 599 entries, 90 to 2867
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CODIGO           599 non-null    object
 1   DISTRITO         588 non-null    object
 2   DEPARTAMENTO     599 non-null    object
 3   MUNICIPIO        599 non-null    object
 4   ESTABLECIMIENTO  599 non-null    object
 5   DIRECCION        597 non-null    object
 6   TELEFONO         562 non-null    object
 7   SUPERVISOR       588 non-null    object
 8   DIRECTOR         533 non-null    object
 9   NIVEL            599 non-null    object
 10  SECTOR           599 non-null    object
 11  AREA             599 non-null    object
 12  STATUS           599 non-null    object
 13  MODALIDAD        599 non-null    object
 14  JORNADA          599 non-null    object
 15  PLAN             599 non-null    object
 16  DEPARTAMENTAL    599 non-null    object
dtypes: object(17)
memory usage: 84.2+ KB
None
Numero de filas: 599
Numero de columnas: 17
VALORES NULOS:
 CODIGO              0
DISTRITO           11
DEPARTAMENTO        0
MUNICIPIO           0
ESTABLECIMIENTO     0
DIRECCION           2
TELEFONO           37
SUPERVISOR         11
DIRECTOR           66
NIVEL               0
SECTOR              0
AREA                0
STATUS              0
MODALIDAD           0
JORNADA             0
PLAN                0
DEPARTAMENTAL       0
dtype: int64
--------------Cleaning data from HUEHUETENANGO---------------
<class 'pandas.core.frame.DataFrame'>
Index: 496 entries, 67 to 5111
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CODIGO           496 non-null    object
 1   DISTRITO         491 non-null    object
 2   DEPARTAMENTO     496 non-null    object
 3   MUNICIPIO        496 non-null    object
 4   ESTABLECIMIENTO  496 non-null    object
 5   DIRECCION        492 non-null    object
 6   TELEFONO         469 non-null    object
 7   SUPERVISOR       491 non-null    object
 8   DIRECTOR         445 non-null    object
 9   NIVEL            496 non-null    object
 10  SECTOR           496 non-null    object
 11  AREA             496 non-null    object
 12  STATUS           496 non-null    object
 13  MODALIDAD        496 non-null    object
 14  JORNADA          496 non-null    object
 15  PLAN             496 non-null    object
 16  DEPARTAMENTAL    496 non-null    object
dtypes: object(17)
memory usage: 69.8+ KB
None
Numero de filas: 496
Numero de columnas: 17
VALORES NULOS:
 CODIGO              0
DISTRITO            5
DEPARTAMENTO        0
MUNICIPIO           0
ESTABLECIMIENTO     0
DIRECCION           4
TELEFONO           27
SUPERVISOR          5
DIRECTOR           51
NIVEL               0
SECTOR              0
AREA                0
STATUS              0
MODALIDAD           0
JORNADA             0
PLAN                0
DEPARTAMENTAL       0
dtype: int64
--------------Cleaning data from IZABAL---------------
<class 'pandas.core.frame.DataFrame'>
Index: 360 entries, 37 to 2653
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CODIGO           360 non-null    object
 1   DISTRITO         358 non-null    object
 2   DEPARTAMENTO     360 non-null    object
 3   MUNICIPIO        360 non-null    object
 4   ESTABLECIMIENTO  360 non-null    object
 5   DIRECCION        360 non-null    object
 6   TELEFONO         347 non-null    object
 7   SUPERVISOR       358 non-null    object
 8   DIRECTOR         355 non-null    object
 9   NIVEL            360 non-null    object
 10  SECTOR           360 non-null    object
 11  AREA             360 non-null    object
 12  STATUS           360 non-null    object
 13  MODALIDAD        360 non-null    object
 14  JORNADA          360 non-null    object
 15  PLAN             360 non-null    object
 16  DEPARTAMENTAL    360 non-null    object
dtypes: object(17)
memory usage: 50.6+ KB
None
Numero de filas: 360
Numero de columnas: 17
VALORES NULOS:
 CODIGO              0
DISTRITO            2
DEPARTAMENTO        0
MUNICIPIO           0
ESTABLECIMIENTO     0
DIRECCION           0
TELEFONO           13
SUPERVISOR          2
DIRECTOR            5
NIVEL               0
SECTOR              0
AREA                0
STATUS              0
MODALIDAD           0
JORNADA             0
PLAN                0
DEPARTAMENTAL       0
dtype: int64
--------------Cleaning data from JALAPA---------------
<class 'pandas.core.frame.DataFrame'>
Index: 149 entries, 95 to 1404
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CODIGO           149 non-null    object
 1   DISTRITO         149 non-null    object
 2   DEPARTAMENTO     149 non-null    object
 3   MUNICIPIO        149 non-null    object
 4   ESTABLECIMIENTO  149 non-null    object
 5   DIRECCION        147 non-null    object
 6   TELEFONO         143 non-null    object
 7   SUPERVISOR       149 non-null    object
 8   DIRECTOR         140 non-null    object
 9   NIVEL            149 non-null    object
 10  SECTOR           149 non-null    object
 11  AREA             149 non-null    object
 12  STATUS           149 non-null    object
 13  MODALIDAD        149 non-null    object
 14  JORNADA          149 non-null    object
 15  PLAN             149 non-null    object
 16  DEPARTAMENTAL    149 non-null    object
dtypes: object(17)
memory usage: 21.0+ KB
None
Numero de filas: 149
Numero de columnas: 17
VALORES NULOS:
 CODIGO             0
DISTRITO           0
DEPARTAMENTO       0
MUNICIPIO          0
ESTABLECIMIENTO    0
DIRECCION          2
TELEFONO           6
SUPERVISOR         0
DIRECTOR           9
NIVEL              0
SECTOR             0
AREA               0
STATUS             0
MODALIDAD          0
JORNADA            0
PLAN               0
DEPARTAMENTAL      0
dtype: int64
--------------Cleaning data from JUTIAPA---------------
<class 'pandas.core.frame.DataFrame'>
Index: 320 entries, 12 to 2331
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CODIGO           320 non-null    object
 1   DISTRITO         314 non-null    object
 2   DEPARTAMENTO     320 non-null    object
 3   MUNICIPIO        320 non-null    object
 4   ESTABLECIMIENTO  320 non-null    object
 5   DIRECCION        314 non-null    object
 6   TELEFONO         301 non-null    object
 7   SUPERVISOR       314 non-null    object
 8   DIRECTOR         284 non-null    object
 9   NIVEL            320 non-null    object
 10  SECTOR           320 non-null    object
 11  AREA             320 non-null    object
 12  STATUS           320 non-null    object
 13  MODALIDAD        320 non-null    object
 14  JORNADA          320 non-null    object
 15  PLAN             320 non-null    object
 16  DEPARTAMENTAL    320 non-null    object
dtypes: object(17)
memory usage: 45.0+ KB
None
Numero de filas: 320
Numero de columnas: 17
VALORES NULOS:
 CODIGO              0
DISTRITO            6
DEPARTAMENTO        0
MUNICIPIO           0
ESTABLECIMIENTO     0
DIRECCION           6
TELEFONO           19
SUPERVISOR          6
DIRECTOR           36
NIVEL               0
SECTOR              0
AREA                0
STATUS              0
MODALIDAD           0
JORNADA             0
PLAN                0
DEPARTAMENTAL       0
dtype: int64
--------------Cleaning data from PETEN---------------
<class 'pandas.core.frame.DataFrame'>
Index: 379 entries, 34 to 3206
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CODIGO           379 non-null    object
 1   DISTRITO         368 non-null    object
 2   DEPARTAMENTO     379 non-null    object
 3   MUNICIPIO        379 non-null    object
 4   ESTABLECIMIENTO  379 non-null    object
 5   DIRECCION        371 non-null    object
 6   TELEFONO         348 non-null    object
 7   SUPERVISOR       368 non-null    object
 8   DIRECTOR         337 non-null    object
 9   NIVEL            379 non-null    object
 10  SECTOR           379 non-null    object
 11  AREA             379 non-null    object
 12  STATUS           379 non-null    object
 13  MODALIDAD        379 non-null    object
 14  JORNADA          379 non-null    object
 15  PLAN             379 non-null    object
 16  DEPARTAMENTAL    379 non-null    object
dtypes: object(17)
memory usage: 53.3+ KB
None
Numero de filas: 379
Numero de columnas: 17
VALORES NULOS:
 CODIGO              0
DISTRITO           11
DEPARTAMENTO        0
MUNICIPIO           0
ESTABLECIMIENTO     0
DIRECCION           8
TELEFONO           31
SUPERVISOR         11
DIRECTOR           42
NIVEL               0
SECTOR              0
AREA                0
STATUS              0
MODALIDAD           0
JORNADA             0
PLAN                0
DEPARTAMENTAL       0
dtype: int64
--------------Cleaning data from QUETZALTENANGO---------------
<class 'pandas.core.frame.DataFrame'>
Index: 476 entries, 36 to 3217
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CODIGO           476 non-null    object
 1   DISTRITO         458 non-null    object
 2   DEPARTAMENTO     476 non-null    object
 3   MUNICIPIO        476 non-null    object
 4   ESTABLECIMIENTO  476 non-null    object
 5   DIRECCION        474 non-null    object
 6   TELEFONO         448 non-null    object
 7   SUPERVISOR       458 non-null    object
 8   DIRECTOR         392 non-null    object
 9   NIVEL            476 non-null    object
 10  SECTOR           476 non-null    object
 11  AREA             476 non-null    object
 12  STATUS           476 non-null    object
 13  MODALIDAD        476 non-null    object
 14  JORNADA          476 non-null    object
 15  PLAN             476 non-null    object
 16  DEPARTAMENTAL    476 non-null    object
dtypes: object(17)
memory usage: 66.9+ KB
None
Numero de filas: 476
Numero de columnas: 17
VALORES NULOS:
 CODIGO              0
DISTRITO           18
DEPARTAMENTO        0
MUNICIPIO           0
ESTABLECIMIENTO     0
DIRECCION           2
TELEFONO           28
SUPERVISOR         18
DIRECTOR           84
NIVEL               0
SECTOR              0
AREA                0
STATUS              0
MODALIDAD           0
JORNADA             0
PLAN                0
DEPARTAMENTAL       0
dtype: int64
--------------Cleaning data from QUICHE---------------
<class 'pandas.core.frame.DataFrame'>
Index: 242 entries, 76 to 4303
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CODIGO           242 non-null    object
 1   DISTRITO         241 non-null    object
 2   DEPARTAMENTO     242 non-null    object

'/mnt/data/DIVERSIFICADOS.csv'

In [3]:
df_cleaned.head()

,CODIGO,DISTRITO,DEPARTAMENTO,MUNICIPIO,ESTABLECIMIENTO,DIRECCION,TELEFONO,SUPERVISOR,DIRECTOR,NIVEL,SECTOR,AREA,STATUS,MODALIDAD,JORNADA,PLAN,DEPARTAMENTAL
125,16-01-0138-46,16-031,ALTA VERAPAZ,COBAN,COLEGIO COBAN,KM.2 SALIDA A SAN JUAN CHAMELCO ZONA 8,77945104,MERCEDES JOSEFINA TORRES GALVEZ,JULIO CESAR VILLELA AMADO,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
127,16-01-0139-46,16-031,ALTA VERAPAZ,COBAN,COLEGIO PARTICULAR MIXTO VERAPAZ,KM 209.5 ENTRADA A LA CIUDAD,77367402,MERCEDES JOSEFINA TORRES GALVEZ,---,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
129,16-01-0140-46,16-031,ALTA VERAPAZ,COBAN,"COLEGIO ""LA INMACULADA""",7A. AVENIDA 11-109 ZONA 6,78232301,MERCEDES JOSEFINA TORRES GALVEZ,VIRGINA SOLANO SERRANO,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
130,16-01-0141-46,16-005,ALTA VERAPAZ,COBAN,ESCUELA NACIONAL DE CIENCIAS COMERCIALES,2A CALLE 11-10 ZONA 2,79514215,RUDY ADOLFO TOT OCH,NaN,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
131,16-01-0142-46,16-005,ALTA VERAPAZ,COBAN,INSTITUTO NORMAL MIXTO DEL NORTE 'EMILIO ROSAL...,3A AVE 6-23 ZONA 11,79521468,RUDY ADOLFO TOT OCH,NaN,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,BILINGUE,VESPERTINA,DIARIO(REGULAR),ALTA VERAPAZ

In [4]:
## Limpiar NAs porque existen datos con guines en evz de NAs
# Load the 'DIVERSIFICADOS' data
df_diversificados = pd.read_csv('./data/DIVERSIFICADOS.csv')

# Replace the specified patterns and empty strings with NaN
df_diversificados.replace(['---------------------------- ----------------------------------','----------------------------', '----------------------------------',
                           ',--------,', ',-------,', ',------,', ',----,', ',---,', ',--,',
                           '', ' ', '---', 'NaN', 'nan', 'None', 'none', 'null', 'Null', 'NULL','<NA>'], 
                          pd.NA, inplace=True)

df_diversificados['DIRECTOR'] = df_diversificados['DIRECTOR'].astype('object')
# Convert 'NaN' in 'DIRECTOR' column to 'NA'
df_diversificados['DIRECTOR'] = df_diversificados['DIRECTOR'].replace(['NaN'], pd.NA)

# Display the first few rows of the dataframe after the replacement
df_diversificados.head()

,CODIGO,DISTRITO,DEPARTAMENTO,MUNICIPIO,ESTABLECIMIENTO,DIRECCION,TELEFONO,SUPERVISOR,DIRECTOR,NIVEL,SECTOR,AREA,STATUS,MODALIDAD,JORNADA,PLAN,DEPARTAMENTAL
0,16-01-0138-46,16-031,ALTA VERAPAZ,COBAN,COLEGIO COBAN,KM.2 SALIDA A SAN JUAN CHAMELCO ZONA 8,77945104,MERCEDES JOSEFINA TORRES GALVEZ,JULIO CESAR VILLELA AMADO,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
1,16-01-0139-46,16-031,ALTA VERAPAZ,COBAN,COLEGIO PARTICULAR MIXTO VERAPAZ,KM 209.5 ENTRADA A LA CIUDAD,77367402,MERCEDES JOSEFINA TORRES GALVEZ,<NA>,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
2,16-01-0140-46,16-031,ALTA VERAPAZ,COBAN,"COLEGIO ""LA INMACULADA""",7A. AVENIDA 11-109 ZONA 6,78232301,MERCEDES JOSEFINA TORRES GALVEZ,VIRGINA SOLANO SERRANO,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
3,16-01-0141-46,16-005,ALTA VERAPAZ,COBAN,ESCUELA NACIONAL DE CIENCIAS COMERCIALES,2A CALLE 11-10 ZONA 2,79514215,RUDY ADOLFO TOT OCH,NaN,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,MONOLINGUE,MATUTINA,DIARIO(REGULAR),ALTA VERAPAZ
4,16-01-0142-46,16-005,ALTA VERAPAZ,COBAN,INSTITUTO NORMAL MIXTO DEL NORTE 'EMILIO ROSAL...,3A AVE 6-23 ZONA 11,79521468,RUDY ADOLFO TOT OCH,NaN,DIVERSIFICADO,OFICIAL,URBANA,ABIERTA,BILINGUE,VESPERTINA,DIARIO(REGULAR),ALTA VERAPAZ

In [7]:
print(df_diversificados.info())

# Numero de rows, columns
num_rows,num_cols = df_diversificados.shape
print(f'Numero de filas: {num_rows}')
print(f'Numero de columnas: {num_cols}')



missing_values = df_diversificados.isnull().sum()
# print(f'VALORES NULOS:\n {missing_values}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7704 entries, 0 to 7703
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CODIGO           7704 non-null   object
 1   DISTRITO         7549 non-null   object
 2   DEPARTAMENTO     7704 non-null   object
 3   MUNICIPIO        7704 non-null   object
 4   ESTABLECIMIENTO  7704 non-null   object
 5   DIRECCION        7655 non-null   object
 6   TELEFONO         7239 non-null   object
 7   SUPERVISOR       7546 non-null   object
 8   DIRECTOR         6413 non-null   object
 9   NIVEL            7704 non-null   object
 10  SECTOR           7704 non-null   object
 11  AREA             7704 non-null   object
 12  STATUS           7704 non-null   object
 13  MODALIDAD        7704 non-null   object
 14  JORNADA          7704 non-null   object
 15  PLAN             7704 non-null   object
 16  DEPARTAMENTAL    7704 non-null   object
dtypes: object(17)
memory usage: 1023.3+ KB
None
Numero de filas: 7704
Numero de columnas: 17

In [6]:
 ## Guardar en CSV  
df_diversificados.to_csv("./data/DIVERSIFICADOS.csv", index=False)